.topdiv {
  height: 60px;
}
.right-div {
  height: 500px;
  width: 650px;
  padding-top: 60px;
  padding-left: 20px;
  padding-bottom: 100px;
  margin-top: 50px;
  margin-right: 40px;
}
.left-div-inner {
  height: 350px;
  width: 530px;
  padding-top: 50px;
  padding-left: 40px;

  margin-right: 50px;
}
.link {
  color: #ffffff;
  text-decoration: none;
}
.b {
  box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
 
}

