<div class=" w-100 border border-secondary text-center topdiv">
   <div class="row fixed-top  bg-black text-white  h">
            <div class="container text-center ">
              <div class="row">
                  <div class="col  mx-auto m-3 link">
                     <div  class="col link" ><a class=" link"  routerLink="/home"><h5>LOGO</h5></a></div>
                  </div>
          </div>
      </div>
</div>

</div>

  <div class="row colheight">
    <div class="col d-flex align-items-center justify-content-center ">
      <div class="fs-1 fw-bold">Change Password</div>
    </div>
    <div class="col ">
        <div class=" right-div  bg-dark-subtle rounded border border-black b ">
            <div class=" left-div-inner ">
                <form [formGroup]="form">
                    <div class="mb-3 ">
                      <label  for="exampleInputPassword1 " class="form-label ">Old Password</label>
                      <input formControlName="oldPassword" type="password" class="form-control border border-black" id="exampleInputPassword1">
                        <div *ngIf="oldPassword?.touched && oldPassword?.invalid"
                        class="alert alert-danger">
                       <div *ngIf="oldPassword?.errors?.['required']">Old password is required.</div>
                       <div *ngIf="oldPassword?.errors?.['invalidOldPassword']">Old password is is invalid.</div>
                    </div>
                    </div>
                    <div class="mb-3 ">
                      <label  for="exampleInputPassword1 " class="form-label ">New Password</label>
                      <input formControlName="newPassword" type="password" class="form-control border border-black" id="exampleInputPassword1">
                    </div>
                          <div *ngIf="newPassword?.touched && newPassword?.invalid"
                        class="alert alert-danger">
                       <div *ngIf="newPassword?.errors?.['required']">New password is required.</div>
                       <div *ngIf="newPassword?.errors?.['invalidOldPassword']">Old password is is invalid.
                       </div>
                    </div>
                    <div class="mb-3 ">
                      <label  for="exampleInputPassword1 " class="form-label ">Confirm Password</label>
                      <input formControlName="confirmPassword" type="password" class="form-control border border-black" id="exampleInputPassword1">
                       <div 
                          *ngIf="confirmPassword?.touched && confirmPassword?.invalid"
                          class="alert alert-danger">
                          <div *ngIf="confirmPassword?.errors?.['required']">Confirm password is required.
                          </div>
                     </div>
                     <div *ngIf="confirmPassword?.valid && form.invalid && form?.errors?.['passwordsShouldMatch']" class="alert alert-danger">
                        Password do not match.
                     </div>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                      <button class="btn btn-primary border border-black fw-normal" type="submit">Change Password</button>
                   </div>
                </form>
            </div>
      </div>
    </div>
 


